[submodule "SSTFormatリポジトリ"]
	path = SSTFormatリポジトリ
	url = git@github.com:kumakamikoubou/SSTFormat.git
[submodule "FDKリポジトリ"]
	path = FDKリポジトリ
	url = https://github.com/DTXMania/FDK.git
	branch = develop
